#contents {
	margin: 0px 16px;
}
#footer {
	margin: 0px 16px;
}

div.search_form {
	background-color: #ecefe8;
}
/* bootstrap の上書き */
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
	background-color: #f0f0f0;
}

/* admin/bean */
div.beans.view th, div.beanImages.view th {
	width: 300px;
}