/* ------------------------------------------------------------
 * 画面レイアウト
 * ------------------------------------------------------------ */
* {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
}
html, body {
	height: 100%;
	margin: 0px auto;
}
div#container {
	width:  100%;
	margin: 0px auto;
	position: relative;
	height: auto;
	min-height: 100%;
}
* html div#container {
	height: 100%; /* IE6 */
}
div#header {
	width:  100%;
	height: 80px;
	margin: 0px 0px;
}
div#contents {
	margin: 0px 32px;
	padding-top: 24px;
	padding-bottom: 104px;
}
div#footer {
	position: absolute;
	bottom: 0px;
	height: 40px;
	width:  100%;
	margin: 0px 0px;
}
/* clearfix */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* ------------------------------------------------------------
 * 基本カラー
 * ------------------------------------------------------------ */
html, body {
    background-color: #f47321;
}
div#header {
    background-color: #f47321;
	/*background-color: #dddddd;*/
}
div#container {
    background-color: #f47321;

}
div#footer {
    background-color: #f47321;
	/*background-color: #dddddd;*/
}

 /*
  * Bootstrapのtable-stripedをオーバーライド
  */
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
    color: #000000;
    background-color: #ff9900;
}

.table-striped tbody > tr:nth-child(even) > td,
.table-striped tbody > tr:nth-child(even) > th {
    color: #000000;
    background-color: #ffcc33;
}

/* ------------------------------------------------------------
 * フォント
 * ------------------------------------------------------------ */
body, textarea { 
    color: #ffffff;
    font-family: "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
    font-size: 18px;
}
input, select { 
    font-family: Arial, "ＭＳ Ｐゴシック", sans-serif; 
    font-size: 18px;
}
table .number {
	text-align: right;
	font-family: sans-serif;
}

.error {
    color: #ff0033;
    font-family: Arial, "ＭＳ Ｐゴシック", sans-serif; 
    font-size: 18px;
}

/* ------------------------------------------------------------
 * 基本要素
 * ------------------------------------------------------------ */
h2 {
	font-size: 20pt;
	border-bottom: 1px solid gray;
}

/* ------------------------------------------------------------
 * 個別のカスタマイズ
 * ------------------------------------------------------------ */
/* ヘッダー */
#header .logo {
	position: absolute;
	top: 8px;
	left: 8px;
	font-size: 20pt;
}
#header .loginuser {
	position: absolute;
	top: 50px;
	left: 8px;
}
#header .logout {
    text-align: right;
	position: absolute;
	top: 50px;
	right: 8px;
}

/* ログイン画面 */
#camera{
    width: 480px;
    height: 360px;
}

#camera video{
    width: 480px;
    height: 360px;
    /*
	border: 3px solid #cccccc;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px; 
    */
}