/* ------------------------------------------------------------
 * 画面レイアウト
 * ------------------------------------------------------------ */
* {
	margin: 0;
	padding: 0;
}

html {
	overflow-y: scroll;
}
html, body {
	height: 100%;
	margin: 0px auto;
}
div#container {
	width:  100%;
	margin: 0px auto;
	position: relative;
	height: auto;
	min-height: 100%;
}
* html div#container {
	height: 100%; /* IE6 */
}
div#header {
	width:  100%;
	height: 100px;
	margin: 0px 0px;
}
div#contents {
	margin: 0px 32px;
	padding-top: 24px;
	padding-bottom: 104px;
}
div#footer {
	position: absolute;
	bottom: 0px;
	height: 40px;
	width:  100%;
	margin: 0px 0px;
}
/* clearfix */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

/* 決定・キャンセルの対に使う*/
.decide{
    margin: 0px 5px;
}

/* ------------------------------------------------------------
 * 基本カラー
 * ------------------------------------------------------------ */
html, body {
    background-color: #f47321;
}
div#header {
    background-color: #2caedc;
	/*background-color: #dddddd;*/
}
div#container {
    background-color: #64c2e4;

}
div#footer {
    background-color: #2caedc;
    /*background-color: #dddddd;*/
}

 /*
  * Bootstrapのtable-stripedをオーバーライド
  */
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
    color: #000000;
    background-color: #eeeeff;
}

.table-striped tbody > tr:nth-child(even) > td,
.table-striped tbody > tr:nth-child(even) > th {
    color: #000000;
    background-color: #eeffff;
}

/* ------------------------------------------------------------
 * フォント
 * ------------------------------------------------------------ */
body, textarea { 
    color: #ffffff;
    font-family: "Lucida Grande","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Verdana,Arial,sans-serif;
    font-size: 18px;
}
input, select { 
    font-family: "Lucida Grande","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Verdana,Arial,sans-serif;
    font-size: 18px;
}
table .number {
	text-align: right;
	font-family: sans-serif;
}

.error {
    color: #ff0033;
    font-family: "Lucida Grande","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Verdana,Arial,sans-serif;
    font-size: 18px;
}

#header a:not(.btn)  { color: #ff9900; text-decoration: none; cursor:pointer; }
#header a:hover:not(.btn)  { text-decoration: underline; }
#header a img:not(.btn)  { border: 0; }

/* ------------------------------------------------------------
 * 基本要素
 * ------------------------------------------------------------ */
h1 {
    color: #ffffff;
	font-size: 32pt;
   
}

h2 {
	font-size: 20pt;
	border-bottom: 1px solid gray;
}

/* ------------------------------------------------------------
 * 個別のカスタマイズ
 * ------------------------------------------------------------ */
/* ヘッダー */
#header .logo {
	position: absolute;
	top: 16px;
	left: 32px;
	font-size: 20pt;
}
#header .search {
	position: absolute;
	top: 50px;
	left: 32px;
}

#header .welcome {
	text-align: right;
	position: absolute;
	top: 22px;
	right: 32px;
}

#header .logout {
	text-align: right;
	position: absolute;
	top: 52px;
	right: 32px;
}

#header .login {
	text-align: right;
	position: absolute;
	top: 52px;
	right: 32px;
}

/* ログイン画面 */
#camera {
	width: 480px;
	height: 360px;
}

#camera video {
	width: 480px;
	height: 360px;
	/*
	border: 3px solid #cccccc;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px; 
    */
}

/* ユーザプロフィール */
#profile {
    
}